$colors: (
  primaryBackground: #F7EAD4,
  accentBackground: #2EC4B6,
  primaryColor: #5D2E8C,
  accentColor: #e07a5f,
  textDark: #222,
  textLight: #F1E8B8,
);

@function getColor($color) {
  @return map-get($map: $colors, $key: $color);
}

@function darkenColor($color, $amount) {
  @return darken($color: $color, $amount: $amount);
}

@function lightenColor($color, $amount) {
  @return lighten($color: $color, $amount: $amount);
}