* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
line-height: 0.8;
  color: #222;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


h1, h2 {
  font-family: 'Knewave', cursive;
  line-height: 1;
  color: #fff;
}
h3 {
  font-family:monospace;
}
p{
  font-family:'Telex';
  letter-spacing: 0.01em;
  
  color: #141414;
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #5D9B9B;
  padding: 10px 0;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  

}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
} 

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
